/* Part of Kirby.
   See the COPYING file that should have been distributed with this software.
   https://raw.github.com/hdonnay/kirby/master/COPYING
*/
/* Use Solarized for colors*/
/* Some variables for magics*/
/* light is default mode, so pair with general html definition */
html, .light {
  background-color: #fdf6e3;
  color: #657b83; }
  html *, .light * {
    color: #657b83; }
  html h1, html h2, html h3, html h4, html h5, html h6, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
    color: #586e75;
    border-color: #657b83; }
  html a, html a:active, html a:visited, .light a, .light a:active, .light a:visited {
    color: #586e75; }

.dark {
  background-color: #002b36;
  color: #839496; }
  .dark * {
    color: #839496; }
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #93a1a1;
    border-color: #839496; }
  .dark a, .dark a:active, .dark a:visited {
    color: #93a1a1; }

.popup {
  margin-top: -1.2em;
  margin-left: 2em;
  margin-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  text-color: #b58900;
  background: -moz-linear-gradient(top, #002b36 0%, #073642);
  background: -webkit-gradient(linear, left top, left bottom, from(#002b36), to(#073642));
  border: 1px solid #586e75;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.5); }

.search {
  text-align: center;
  border: 1px solid #586e75;
  margin: 1em, 1em, 1em, 1em; }

html * {
  color-profile: sRGB;
  rendering-intent: auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding-left: .5em;
  padding-right: .5em;
  font-family: sans-serif; }
  body a, body a:active, body a:visited, body code.url {
    color: #dc322f; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #dc322f; }

#header {
  height: 90px;
  background-color: #eee8d5;
  color: #657b83; }
  #header h1 {
    padding-left: 3em;
    padding-top: 1em; }
  #header img {
    float: left;
    height: 90px;
    width: auto; }
  #header a, #header a:active, #header a:visited, #header code.url {
    color: #dc322f; }
  #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: #dc322f; }
  #header * {
    color: #657b83; }
  #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: #586e75;
    border-color: #657b83; }
  #header a, #header a:active, #header a:visited {
    color: #586e75; }

#wrapper {
  float: left;
  width: 100%; }

#content {
  margin-left: 200px;
  padding: 1em; }
  #content a, #content a:active, #content a:visited, #content code.url {
    color: #dc322f; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #dc322f; }
  #content pre {
    background-color: #002b36;
    color: #839496;
    margin: 0em 0em 0em 0em;
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid #586e75; }
    #content pre * {
      color: #839496; }
    #content pre h1, #content pre h2, #content pre h3, #content pre h4, #content pre h5, #content pre h6 {
      color: #93a1a1;
      border-color: #839496; }
    #content pre a, #content pre a:active, #content pre a:visited {
      color: #93a1a1; }
  #content h2, #content h3, #content h4, #content h5, #content h6 {
    margin-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em; }

#nav {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #586e75;
  line-height: 1.5em;
  float: left;
  width: 200px; }
  #nav ul {
    list-style-type: none;
    text-transform: lowercase;
    padding: 0px;
    margin: 1em 0px 1em 0px; }
    #nav ul a, #nav ul a:active, #nav ul a:visited, #nav ul code.url {
      color: #93a1a1; }
    #nav ul h1, #nav ul h2, #nav ul h3, #nav ul h4, #nav ul h5, #nav ul h6 {
      color: #93a1a1; }
    #nav ul a:hover {
      color: #dc322f; }
      #nav ul a:hover a {
        color: #dc322f; }
    #nav ul li {
      width: 200px;
      text-align: right;
      margin: 0px 0px 0px 1px; }
    #nav ul a {
      display: block;
      width: 190px;
      padding-right: 10px; }
    #nav ul a:hover {
      background-color: #002b36; }

#footer {
  background-color: #eee8d5;
  color: #657b83;
  clear: left;
  width: 100%;
  text-align: center;
  text-transform: lowercase;
  text-size: 6pt;
  margin-bottom: 1em; }
  #footer * {
    color: #657b83; }
  #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #586e75;
    border-color: #657b83; }
  #footer a, #footer a:active, #footer a:visited {
    color: #586e75; }
  #footer a:hover {
    color: #268bd2; }
    #footer a:hover a {
      color: #268bd2; }
