/* Part of Kirby.
   See the COPYING file that should have been distributed with this software.
   https://raw.github.com/hdonnay/kirby/master/COPYING
*/
/* Use Solarized for colors*/
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
/* Some variables for magics*/
$navWidth:  200px;


@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) 
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color:$accent}
}
@mixin hoverize($accent) {
    a:hover {
        a {
            color: $accent;
        }
        color: $accent;
    }
}
/* light is default mode, so pair with general html definition */
html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}
.popup {
    margin: {
        top: -1.2em;
        left: 2em;
        right: 2em;
    }
    padding: {
        top: 0.4em;
        bottom: 0.4em;
    }
    text-align: center;
    text-color: $yellow;
    background: -moz-linear-gradient(
        top,
        $base03 0%,
        $base02);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from($base03),
        to($base02));
    border: 1px solid $base01;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.5);
}

.search {
    text-align: center;
    border: 1px solid $base01;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
}

#book {
    @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
    @include accentize($red);
    display: block;
    height: 300px;
    margin: {
        left: 1em;
        right: 1em;
        top: 0.5em;
        bottom: 0.5em;
    }
    padding: {
        top: 0.5em;
        bottom: 0.5em;
        left: 0.5em;
        right: 0.5em;
    }
    img {
        float: left;
        display: block;
        height: 300px;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
    }
    h4,h5,p {
        margin-left: 205px;
    }
    h4 {
        border-bottom: 1px solid $base01;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
    }
    h5 {
        border-top: 1px solid $base01;
        padding-top: 0.5em;
        margin-top: 0.5em;
    }
    p {
        display: block;
        margin: {
            top:1em;
            bottom: 1em;
            right: 1em;
        }
        padding: {
            top:1em;
            bottom:1em;
            left:1em;
            right:1em;
        }
        background-color: $base02;
    }
}

html * {
    color-profile: sRGB;
    rendering-intent: auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

a {
    text-decoration:none;
}

body {
    margin: 0;
    padding: {
        left: .5em;
        right: .5em;
    }
    font-family: sans-serif;
    @include accentize($red);
}

#header {
    height: 90px;
    h1 {
        padding-left: 3em;
        padding-top: 1em;
    }
    img {
        float: left;
        height: 90px;
        width: auto;
    }
    @include accentize($red);
    @include rebase($base2,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
}

#wrapper {
    float: left;
    width: 100%;
}

#content {
    margin-left: $navWidth;
    padding: 1em;
    @include accentize($red);
    pre {
        @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
        margin: 0em 0em 0em 0em;
        padding: 1em 1em 1em 1em;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border: 1px solid $base01;
    }
    h2,h3,h4,h5,h6 {
        margin-bottom: 0em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

#nav {
    border: {
        right: {
            style: solid;
            width: 1px;
            color: $base01;
        }
    }
    line-height: 1.5em;
    float: left;
    width: $navWidth;
    ul {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        list-style-type: none;
        text-transform: lowercase;
        padding: 0px;
        margin:1em 0px 1em 0px;
        @include accentize($base1);
        @include hoverize($red);
        li {
            width: $navWidth;
            text-align: right;
            margin:0px 0px 0px 1px;
        }
        a {
            display: block;
            width: $navWidth - 10px;
            padding-right: 10px;
        }
        a:hover { background-color: $base03 }
    }
}

#footer {
    @include rebase($base2,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
    @include hoverize($blue);
    clear: left;
    width: 100%;
    text: {
        align: center;
        transform: lowercase;
        size: 6pt;
    }
    margin-bottom: 1em;
}
